@charset "utf-8";
#CommentForm {
  display: none;
}
.footerRight {
  float: right;
  margin: 20px 3.5% 20px 0;
  text-align: right;
  width: 35%;
}
.footerRight .footerNewsLetterLink {
  width: 89px;
  height: 96px;
  display: block;
  float: left;
  margin-left: 20%;
  margin-bottom: 20px;
}
.footerRight .footerNewsLetterLink img {
  max-width: 100%;
  width: 100%;
}
.footerRight .socialMedia {
  clear: right;
}
.footerRight img {
  float: right;
  max-width: 21%;
  padding: 2% 0 2% 4%;
}
#editpage {
  background: #db1174;
  color: #fff;
  display: block;
  font-weight: bold;
  left: 0;
  padding: 5px 6px;
  position: absolute;
  top: 0;
}
#editpage:hover {
  background: #ffc;
  color: #000;
}
.clearfix::before {
  content: " ";
  display: table;
}
.clearfix::after {
  clear: both;
  content: " ";
  display: table;
}
html,
body {
  background: url("../images/footerBackground.jpg") center top;
  color: #3c271d;
  font-family: "Droid Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
header,
footer,
nav {
  display: block;
}
/* fonts */
.mainMenu,
#leftMenu,
.boxWrapperInner,
.link {
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}
h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
}
.lefttopHeader,
.righttopHeader,
.rightHeader p {
  /* font-family: Galindo, sans-serif; */
  font-family: "Fira Sans", sans-serif;
}
.rightColumnEditor {
  clear: right;
  float: right;
  margin: 0;
  margin-left: 0;
  width: 45%;
}
.leftColumnEditor {
  clear: left;
  float: left;
  margin: 0;
  width: 45%;
}
ul.leftColumnEditor,
ul.rightColumnEditor {
  padding-left: 5%;
}
.faq_answer {
  clear: both;
  overflow: hidden;
}
.faq_answer p {
  margin: 0;
  padding: 5px 0 1px;
}
.faq_question {
  clear: both;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.faq_question a {
  border-bottom: 1px dotted #573b02;
  display: block;
  padding: 10px 0 4px;
  text-decoration: none;
}
.TextformatterVideoEmbed {
  clear: both;
  margin: 15px 0;
}
h1,
h2 {
  line-height: 1.2em;
  padding: 0;
}
h1 {
  color: #14204a;
  font-size: 32px;
  margin-top: 0;
}
h1 .campJacobson {
  color: #793504;
  font-family: "MuseoSans500", sans-serif;
  font-size: 28px;
  margin-bottom: 4px;
  margin-top: 65px;
  text-align: center;
}
h2 {
  color: #de2127;
  font-size: 27px;
}
h2 a {
  color: #de2127;
  font-size: 27px;
}
h3 {
  color: #14204a;
  font-size: 22px;
  margin: 25px 0 0;
  padding: 0;
}
h4 {
  color: #516f29;
  font-size: 18px;
}
a {
  color: #ce0909;
}
a:hover {
  color: #14204a;
}
a.rss {
  background: url("../images/rss.png") no-repeat scroll left top transparent;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  text-indent: -9999px;
  width: 14px;
}
p,
ul {
  line-height: 1.5em;
}
img {
  border: 0 none;
  height: auto;
  max-width: 100%;
}
form {
  margin: 0;
  padding: 0;
}
input,
textarea,
select {
  background-color: #ebe7da;
  border-radius: 4px;
}
button {
  background-color: #273f9f;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
.bodyWrapper {
  background: #90dcfe url("../images/page-background.jpg") no-repeat 0 -190px;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-color: #999;
}
.containerLeftWrapper,
.containerRightWrapper,
.footer {
  margin: 0 auto;
  max-width: 960px;
}
.containerLeftWrapper {
  background: #d7ceb4 url("../images/leftFrame.png") repeat-y left top;
}
.containerRightWrapper {
  background: url("../images/rightFrame.png") repeat-y right top;
}
.topHeaderWrapper,
.grass,
.footerBanner {
  left: 0;
  position: absolute;
  width: 100%;
}
.topHeaderWrapper {
  background: url("../images/topbanner2.png") repeat-x center top;
  height: 43px;
  top: 0;
}
.topBoard {
  background: url("../images/topbanner2.png") repeat-x center top;
  height: 43px;
  position: absolute;
  top: 0;
  width: 100%;
}
.header,
.container,
.footer,
.footerWrapper {
  position: relative;
}
/*Header*/
.header {
  background: url("../images/warm-wood.jpg") center top;
  margin: 0 1%;
  min-height: 230px;
  padding-top: 1px;
  width: 98%;
}
.lefttopHeader,
.centertopHeader,
.righttopHeader,
.rightHeader {
  position: absolute;
  text-align: center;
  z-index: 2;
}
.lefttopHeader a,
.centertopHeader a,
.righttopHeader a,
.rightHeader a {
  text-decoration: none;
}
.lefttopHeader {
  background: url("../images/leftheaderbanner.png") no-repeat center top;
  font-size: 17px;
  left: 12%;
  min-width: 150px;
  top: 49px;
  width: 15%;
}
.lefttopHeader a {
  color: #49210b;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
  width: 87%;
}
.lefttopHeader a:hover {
  color: #ce0909;
}
#boots {
  /*background: url('../images/boots.png') no-repeat center top;*/
  display: none;
  height: 148px;
  left: 20%;
  position: absolute;
  width: 188px;
  z-index: 3;
}
.centertopHeader {
  right: 33%;
  top: 0;
  width: 35%;
}
#title {
  left: 18%;
  position: absolute;
  top: 16%;
  width: 60%;
  z-index: 3;
}
.righttopHeader {
  color: #d9c8b5;
  font-size: 14px;
  right: 0;

  top: 7px;
  white-space: nowrap;
  width: 35%;
}
.righttopHeader a {
  color: #fef8e0;
  font-size: 20px;
  padding: 0 10px;
}
.righttopHeader a:hover {
  color: #f1b775;
}
.rightHeader {
  max-width: 48%;
  right: 7%;
  top: 55px;
  z-index: 1;
}
.rightHeader p {
  color: #c7b15f;
  font-size: 20px;
  margin: 3px 0;
}
.rightHeader a {
  color: #c7b15f;
}
.rightHeader a:hover {
  color: #e0dbc6;
}
.rightHeaderContent {
  background: url("../images/rightheaderbanner.png") no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 20px 40px 0 0;
  padding: 14px 10px 15px;
}
.rightHeaderContent span {
  /* border-bottom: 4px solid #3B271C; */
  color: #49210b;
  font-family: "Fira Sans", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  white-space: nowrap;
}
.rightHeaderContent:hover span {
  color: #14204a;
  /* border-bottom: 4px solid #CE0909; */
}
.navBanner {
  background: url("../images/navbar.png") no-repeat;
  clear: both;
  margin-top: 155px;
  min-height: 83px;
  padding-top: 1px;
  position: relative;
}
.mainMenu {
  font-size: 18px;
  list-style: none outside;
  margin: 22px 0 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  z-index: 8010;
}
.mainMenu ul {
  text-shadow: none;
}
.mainMenu li {
  display: inline;
  line-height: 2em;
  margin: 0;
  padding: 0;
}
.mainMenu li a {
  /* white-space: nowrap; */
  /*border: 1px dashed #445C23;*/
  border-radius: 4px;
  color: #d7cdb3;
  line-height: 1.1em;
  text-decoration: none;
}
.mainMenu li a span {
  display: inline-block;
}
.mainMenu li a:hover {
  background-color: DarkRed;
  color: #eaeaea;
}
.mainMenu .active > a {
  background-color: DarkRed;
  color: #eaeaea;
}
/*absolute elements*/
#pin,
#oars,
#oarsText,
#binoculars {
  position: absolute;
}
#oars {
  background: url("../images/oars1.png") no-repeat left top;
  height: 700px;
  left: 0;
  margin-left: -115px;
  top: 20%;
  width: 200px;
}
#oarsText {
  display: none;
  left: 48%;
  top: 71%;
}
#binoculars {
  /*background: url('../images/binoculars.png') no-repeat left top;*/
  display: none;
  height: 150px;
  margin-right: -60px;
  right: 0;
  top: 60%;
  width: 102px;
  z-index: 3;
}
#pin {
  background: url("../images/pin.png") no-repeat left top;
  height: 8px;
  left: 50%;
  margin: 30px 0 0 -2px;
  top: 0;
  width: 8px;
}
#leftBanner,
#rightBanner {
  height: 105px;
  position: absolute;
  top: 0;
  width: 115px;
}
#leftBanner {
  background: url("../images/leftnavBanner.png") no-repeat left top;
  left: 0;
  margin-left: -112px;
  z-index: 2;
}
#rightBanner {
  background: url("../images/rightnavBanner.png") no-repeat left top;
  margin-right: -114px;
  right: 0;
  z-index: 1;
}
/**********************/
/* CONTENT */
/**********************/
/********************/
/*HOMEPAGE VIDEO BG* /
 /********************/
.hpVideoBg {
  padding: 0 10px;
  position: relative;
}
.hpVideoBg video {
  background-image: url("//daks2k3a4ib2z.cloudfront.net/5829dbd5bb1a1e38054cf463/5829e46de899c58c39beee22_ucw1-homepage-video-poster-00001.jpg");
  width: 100%;
}
.fullVideoButton {
  background: url("../images/rightheaderbanner.png") no-repeat center center;
  color: #49210b;
  font-family: "Fira Sans", sans-serif;
  font-size: 31px;
  font-weight: 400;
  height: 55px;
  left: 50%;
  margin-left: -116px;
  margin-top: -23px;
  padding-top: 19px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 50%;
  width: 232px;
}
/********************/
/* HOMEPAGE CONTENT */
/********************/
.homepage-content-wrapper {
  background-color: #d7ceb4;
  border-left: 1px solid #3c271d;
  border-right: 1px solid #3c271d;
  margin: 0 10px;
  padding: 35px 2%;
}
.home-main-heading {
  color: #14204a;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}
.homepage-intro-para {
  font-family: "Droid Sans", sans-serif;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 51px;
  text-align: center;
}
.home-content-block {
  margin-bottom: 50px;
  overflow: hidden;
}
.home-content-block img {
  border: 10px solid #fff;
  box-shadow: 0 0 6px 0 #3a3a3a;
  float: right;
  margin-left: 25px;
  width: 320px;
}
.home-content-block img.left {
  float: left;
  margin-left: 0;
  margin-right: 25px;
}
.home-content-block img.right {
  float: right;
  margin-left: 25px;
  margin-right: 0;
}
.home-content-block h2 .right,
.home-content-block p .right {
  text-align: right;
}
/*************/
/* Slideshow */
/*************/
.slideshowWrapper {
  padding: 25px 3.5%;
  position: relative;
}
.slideshowWrapper .flex-control-nav {
  display: none;
}
.headerImageWrapper {
  background-color: #fef8e0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 0 2% 20px;
  padding: 7px 1%;
  position: relative;
}
.headerImageWrapper img {
  display: block;
}
.slideshow {
  background: #fef8e0 no-repeat center center;
  box-shadow: 5px 5px 5px #333;
  padding: 20px 2%;
}
.flex-direction-nav a {
  height: 50px;
  margin-top: -25px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999em;
  top: 50%;
  width: 25px;
}
.flex-direction-nav .flex-prev {
  background: url("../images/leftArrow.png") no-repeat top left;
  left: 10px;
}
.flex-direction-nav .flex-next {
  background: url("../images/rightArrow.png") no-repeat top right;
  right: 10px;
}
#leftArrowslideshow:hover {
  background-position: bottom left;
}
#rightArrowslideshow:hover {
  background-position: bottom right;
}
#campDay,
#interactiveMap,
#photoGallery,
#leftImgArrow,
#centerImgArrow,
#rightImgArrow {
  position: absolute;
  z-index: 1;
}
#campDay,
#interactiveMap {
  width: 80%;
}
#leftImgArrow,
#centerImgArrow,
#rightImgArrow {
  top: 45%;
  width: 22%;
  z-index: 2;
}
#campDay {
  left: 7%;
  top: 8%;
}
#leftImgArrow {
  left: 38%;
}
.imageBoxcenter {
  left: 31%;
  top: 0;
  z-index: 1;
}
.imageBoxcenter span {
  width: 76%;
}
.imageBoxcenter a span {
  color: #8b0a1f;
}
.imageBoxcenter a:hover span {
  color: #14204a;
}
#interactiveMap {
  left: 7.1%;
  top: 8%;
}
.imageBoxleft a:hover span,
.imageBoxright a:hover span {
  color: #14204a;
}
#centerImgArrow {
  left: 41%;
  width: 17%;
}
#photoGallery {
  right: 27%;
  top: 14%;
  width: 60%;
}
#rightImgArrow {
  right: 36%;
}
/*Main Content*/
.mainContentWrapper {
  clear: both;
  margin: 0 3.5%;
  width: 93%;
}
/*********************/
/* HP FACEBOOK FEED*/
/*********************/
.fb-post-link {
  margin-top: 14px;
  padding: 6px 12px;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  background: #3b5998 url(../images/icons/fb.png) 9px center no-repeat;
  background-size: 13px;
  cursor: pointer;
}
.fb-post-link:hover {
  color: #ffffda;
}
.facebook-post-image {
  margin-top: 20px;
}
.hpBottomSection {
  background-color: #fff8e7;
  border-left: 1px solid #3c271d;
  border-right: 1px solid #3c271d;
  border-top: 1px solid #000;
  margin: 0 10px;
  padding: 22px 2% 130px;
}
.facebook-posts-wrapper {
  flex-direction: row;
  -ms-flex-align: stretch;
  -ms-flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;
  align-items: stretch;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.facebook-post-wrapper {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #6f6f6f;
  flex: 1;
  margin-bottom: 25px;
  margin-right: 15px;
  padding: 5px 20px;
}
.facebook-post-wrapper.last {
  margin-right: 0;
}
.fb-post-title {
  color: #14204a;
  font-family: "Droid Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 0;
}
/*footer*/
.grass {
  background: url("../images/grass.png") repeat-x center top;
  height: 120px;
  top: -146px;
}
.footerBanner {
  background: url("../images/footerBanner.png") repeat-x center top;
  height: 36px;
  top: -31px;
}
.footer {
  color: #e5ddc3;
  overflow: hidden;
  width: 96%;
}
.footer a {
  color: #e5ddc3;
}
.footer a:hover {
  color: white;
}
.footerLeft {
  color: #e5ddc3;
  float: left;
  margin: 20px 0 0 3.5%;
  width: 55%;
}
.street-address {
  margin: 10px 0 0;
}
.tel {
  color: #e5ddc3;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
}
.footerLeft .accredited {
  font-size: 12px;
  line-height: normal;
  margin: 0;
  padding-top: 0;
  text-align: left;
}
.footerLeft #accredited {
  clear: right;
  margin-top: 10px;
}
/*InnerPage*/
.contentTwoCollumns {
  margin: 0 1%;
  overflow: hidden;
  width: 98%;
}
.contentLeft {
  clear: left;
  float: left;
  margin-left: 1%;
  width: 30%;
}
.contentRight {
  float: right;
  margin-right: 0.5%;
  padding-top: 15px;
  width: 68%;
}
.menuBgLeft {
  background: url("../images/topbannerInner.png") repeat-x center bottom #662e14;
  box-shadow: 2px 2px 5px #333;
  padding: 0 0 26px;
  position: relative;
  z-index: 1;
}
.menuBgRight {
  background: url("../images/warm-wood.jpg") repeat left top;
  margin-right: 0;
  padding: 10px 3% 20px;
}
#menuDropdown {
  display: none;
}
#leftMenu,
.secondMenu {
  /* text-shadow: 1px 1px 2px #000; */
  list-style: none outside;
  text-align: left;
  text-transform: uppercase;
}
#leftMenu {
  font-size: 20px;
  margin: 0;
  padding: 0 4px 0 5px;
}
#leftMenu ul span {
  color: #f1b775;
  display: block;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  padding: 0;
  text-shadow: 0 0 0 #000;
}
#leftMenu ul .sidebarComentTitle {
  color: #d7cdb3;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  text-shadow: 1px 1px 2px #000;
}
#leftMenu ul .sidebarCommentAuthor {
  color: #fff;
  padding-bottom: 7px;
}
#leftMenu .num-posts {
  display: block;
  padding: 0 0 7px;
}
#leftMenu li {
  background: url("../images/sideMenuItemBgBottom.png") repeat-x right bottom;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 1px 0;
  padding: 1px 0 4px;
}
#leftMenu li.active {
  background: #27386b url("../images/sideMenuItemActiveBgBottom.png") repeat-x
    right bottom;
}
#leftMenu li.active.has_children {
  background: #27386b url("../images/sideMenuItemBgBottom.png") repeat-x right
    bottom;
}
#leftMenu li.active > a {
  background: #27386b url("../images/sideMenuItemActiveBg.png") no-repeat right
    bottom;
  color: #fff;
}
#leftMenu li.active > a:hover {
  background: #27386b url("../images/sideMenuItemActiveBg.png") no-repeat right
    bottom;
  color: #fff;
}
#leftMenu li.has_children > a {
  background-image: none;
  padding-right: 32px;
}
#leftMenu li a {
  background: #e8ddbe url("../images/sideMenuItemBg.png") no-repeat right bottom;
  color: #573b02;
  display: block;
  padding: 11px 15px 6px;
  text-decoration: none;
}
#leftMenu .last a {
  background: url("../images/leftMenuItemsBg.png") repeat-x center bottom;
}
#leftMenu .widget {
  background: url("../images/sideMenuItemBg.png") no-repeat scroll right bottom
    #e8ddbe;
  margin-bottom: 10px;
  padding: 14px 10px 1px;
  position: relative;
}
#leftMenu .widget li {
  background: none transparent;
}
#leftMenu .widget li a {
  background: none transparent;
}
/*#leftMenu li.active ul a {
 color: #949DB2;
 }
 #leftMenu li.active ul a:hover {
 color: #fff;
 } */
.secondMenu {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
#leftMenu .secondMenu li {
  background-image: none;
  border-top: 1px solid #c8b78a;
  margin: 0;
  padding: 0;
}
#leftMenu .secondMenu li:last-child > a {
  background: #e8ddbe url("../images/sideMenuItemBg.png") no-repeat right bottom;
}
#leftMenu .secondMenu li.active:last-child > a {
  background: #27386b url("../images/sideMenuItemActiveBg.png") no-repeat right
    bottom;
}
#leftMenu .secondMenu li a {
  background-image: none;
  padding-bottom: 10px;
  padding-left: 30px;
}
.has_children {
  position: relative;
}
.has_children > span {
  background: url("../images/arrowMenu.png") no-repeat right bottom;
  height: 30px;
  position: absolute;
  right: 4px;
  top: 12px;
  width: 30px;
}
#movieFilmInner {
  bottom: -8%;
  left: 5%;
  position: absolute;
  width: 42%;
  z-index: 1;
}
.videoBoxInner {
  padding-bottom: 20px;
  position: relative;
  text-align: center;
}
.videoBoxInner span {
  bottom: 0;
  color: #b20000;
  font-size: 22px;
  left: 40%;
  position: absolute;
}
.videoBoxInner a {
  color: #212d07;
  display: block;
  text-decoration: none;
}
.boxWrapperInner {
  padding: 35px 0 150px 0;
}
.imageBoxWrapperInner {
  list-style: none outside;
  margin: 20px 0 0;
  padding: 0;
  text-align: center;
}
.imageBoxWrapperInner span {
  font-size: 19px;
  line-height: 1.4em;
  margin: 25px auto 0;
}
.imageBoxWrapperInner a {
  display: block;
  text-decoration: none;
}
.imageBoxleftInner,
.imageBoxcenterInner,
.imageBoxrightInner {
  background: url("../images/imageBoxInner.png") no-repeat center bottom;
  height: 145px;
  margin: 0 auto;
  position: relative;
  width: 208px;
}
.imageBoxleftInner span,
.imageBoxcenterInner span,
.imageBoxrightInner span {
  bottom: 24px;
  color: #14204a;
  font-size: 16px;
  left: 9%;
  position: absolute;
  width: 80%;
}
#campDayInner,
#interactiveMapInner,
#photoGalleryInner {
  position: absolute;
  z-index: 1;
}
#campDayInner,
#interactiveMapInner {
  left: 10%;
  top: 12%;
  width: 76.5%;
}
#photoGalleryInner {
  right: 27%;
  top: 22%;
  width: 48%;
}
.imageBoxcenterInner a span {
  color: #8b0a1f;
}
/* .imageBoxrightInner span {
 left: 18%;
 } */
.videoBoxInner a:hover span,
.imageBoxcenterInner a:hover span,
.imageBoxleftInner a:hover span,
.imageBoxrightInner a:hover span {
  color: #14204a;
}
.mainContentInner {
  padding: 15px 4% 160px 5%;
}
.mainContentInner .align_left {
  border: 2px solid green;
  clear: left;
  float: left;
  margin: 10px 3% 10px 0;
  max-width: 50%;
}
.mainContentInner .align_right,
.mainContentInner .align_left {
  border: 0;
}
.mainContentInner .align_center {
  display: block;
  margin: 0 auto;
}
.mainContentInner hr {
  border: 1px dotted #573b02;
  clear: both;
  display: block;
}
.mainContentInner img {
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
}
.singleColumnWrapper {
  padding: 30px 35px 30px 40px;
}
/****************************************/
/*           SPECIAL PAGES              */
/****************************************/
/* What's new for me this summer*/
.whatsNewSlidesow {
  height: 270px;
}
.whatsNewSlidesow img {
  height: 270px;
  width: 100% !important;
}
.whatsNewSlideWrapper {
  margin-bottom: 20px;
  overflow: hidden;
}
.heading01,
.heading02 {
  color: #442f24;
  float: left;
  font-size: 1.7em;
  font-weight: normal;
  text-align: center;
}
.heading01 {
  width: 27%;
}
.heading02 {
  float: right;
  width: 71%;
}
.slideshowSelection {
  clear: left;
  font-family: "BebasNeueRegular";
  font-size: 18px;
  height: 60px;
  list-style: none outside;
  margin: 0;
  padding: 0;
  position: relative;
}
.slideshowSelection li {
  position: absolute;
  text-align: center;
  width: 14%;
}
.slideshowSelection li a {
  background: url("../images/whatsNewforMe/slideshowSelectionNav.png") no-repeat
    center -57px;
  color: #999783;
  display: block;
  padding-top: 18px;
  text-decoration: none;
}
.slideshowSelection li a:hover,
.slideshowSelection li a.active {
  background: url("../images/whatsNewforMe/slideshowSelectionNav.png") no-repeat
    center top;
  color: #333;
}
.slideshowSelection .line {
  background: url("../images/whatsNewforMe/slideshowSelectionBg.gif") repeat-x 0
    0;
  font-size: 2px;
  height: 2px;
  left: 14%;
  top: 6px;
  width: 74%;
}
.slideshowSelection .newInGeneral {
  width: 27%;
}
.slideshowSelection .newAgeGroup1 {
  left: 34%;
}
.slideshowSelection .newAgeGroup2 {
  left: 50%;
}
.slideshowSelection .newAgeGroup3 {
  left: 66%;
}
.slideshowSelection .newAgeGroup4 {
  left: 81%;
}
.whatIsNewThisSummerContent {
  float: right;
  width: 64%;
}
/*typical day page*/
.tdSlideShowOuterWrap {
  margin-bottom: 60px;
  padding-bottom: 20px;
  position: relative;
}
.tdSlideShowWrap {
  background-image: url("../images/typicalDay/paper_bg.jpg");
  border-radius: 8px;
  box-shadow: 0 10px 24px rgba(40, 0, 0, 0.53);
  padding: 10px 1.5%;
  position: relative;
  top: -60px;
  width: 97%;
  z-index: 15;
}
.tdSlideShowWrap div {
  background-size: 100% 96%;
  display: none;
  width: 100%;
}
.tdSlideShowWrap div img {
  max-height: 100%;
}
.tdSlideShowWrap div.welcomeMessage {
  display: block;
}
.tdTopWrapper {
  background-image: url("../images/typicalDay/tdTopBg.png");
  border-radius: 8px;
  left: 0;
  overflow: hidden;
  padding-bottom: 80px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
}
.tdTopWrapper ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 9px;
}
.tdTopWrapper ul li {
  display: inline;
  float: left;
  padding-right: 10px;
}
.tdTopWrapper ul li a {
  -moz-border-radius: 8px;
  -moz-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.6);
  -pie-background: linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  -webkit-border-radius: 8px;
  -webkit-box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.6);
  background: -moz-linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  background: -ms-linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  background: -o-linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  background: -webkit-linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  background: linear-gradient(top, #d0b87d 12%, #d9c889 85%);
  border-radius: 8px;
  border: 4px solid #b78e5c;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.6);
  color: #b78e5c;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0;
  padding: 4px 13px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
.tdTopWrapper ul li a:hover,
.tdTopWrapper ul li a#b.tdButtonSelected,
.tdTopWrapper ul li a#g.tdButtonSelected {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  padding: 7px 16px 7px 16px;
}
.tdTopWrapper ul.ageSelector li a.tdButtonSelected {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  padding: 7px 16px 7px 16px;
}
.tdTopWrapper ul li a#b.tdButtonSelected {
  color: white;
  border-color: #5c84ac;
  background: -webkit-linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  background: -moz-linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  background: -o-linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  background: -ms-linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  background: linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  -pie-background: linear-gradient(top, #6e99c4 12%, #2a5bc1 85%);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.tdTopWrapper ul li a#g.tdButtonSelected {
  -pie-background: linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  background: -moz-linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  background: -ms-linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  background: -o-linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  background: -webkit-linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  background: linear-gradient(top, #fa49cb 12%, #e6008a 85%);
  border-color: #ffa3b5;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.tdTopWrapper ul.ageSelector li a.tdButtonSelected {
  -pie-background: linear-gradient(top, #71c138 14%, #3d821d 88%);
  background: -moz-linear-gradient(top, #71c138 14%, #3d821d 88%);
  background: -ms-linear-gradient(top, #71c138 14%, #3d821d 88%);
  background: -o-linear-gradient(top, #71c138 14%, #3d821d 88%);
  background: -webkit-linear-gradient(top, #71c138 14%, #3d821d 88%);
  background: linear-gradient(top, #71c138 14%, #3d821d 88%);
  border-color: #73b448;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.tdTopWrapper ul.genderSelector {
  float: left;
  margin-left: 2%;
}
.tdTopWrapper ul.ageSelector {
  float: right;
  margin-left: 2%;
}
/* .welcomeMessage {
 background-image: url('../images/typicalDay/typicalDayStart.jpg');
 background-size: 100% 96%;
 }
 .ageError {
 background-image: url('../images/typicalDay/typicalDayAgeError.jpg');
 height: 400px;
 }
 .genderError {
 background-image: url('../images/typicalDay/typicalDayGenderError.jpg');
 height: 400px;
 } */
.slideshowNavWrap {
  background-image: url("../images/typicalDay/paper_bg.jpg");
  border-radius: 6px;
  bottom: 4px;
  box-shadow: 0 0 10px rgba(40, 0, 0, 0.2);
  left: 3%;
  padding: 10px 1%;
  position: absolute;
  width: 92%;
  z-index: 25;
}
.slideshowNavWrap .slideshownavWrapper2 {
  /* background: green url('../images/tdNav_bg.gif'); */
  -pie-background: linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  background: -moz-linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  background: -ms-linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  background: -o-linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  background: -webkit-linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  background: linear-gradient(top, #5b7a2e 20%, #4a6425 80%);
  margin: 0 0 0 0;
  overflow: hidden;
}
.slideshowNavWrap ul {
  /* background: green url('../images/tdNav_bg.gif'); */
  list-style-image: none;
  list-style: none;
  margin: 0 0 0 0;
  overflow: hidden;
  padding: 15px 0 15px 2%;
  width: 98%;
}
.slideshowNavWrap ul li {
  float: left;
  display: inline;
  margin-right: 8px;
  width: 75px;
}
.slideshowNavWrap ul li.last {
  margin-right: 0;
}
.slideshowNavWrap ul li a {
  -pie-background: linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  background: -moz-linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  background: -ms-linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  background: -o-linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  background: -webkit-linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  background: linear-gradient(top, #d3c086 20%, #e9e9c3 80%);
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  color: #4a2611;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 17px;
  font-weight: normal;
  height: 45px;
  line-height: 1.2em;
  text-align: center;
  text-decoration: none;
  width: 75px;
}
.slideshowNavWrap ul li#thirdButton {
  margin-right: 300px;
}
.slideshowNavWrap ul li a:hover {
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  height: 44px;
  padding-top: 1px;
  position: relative;
  top: 1px;
}
.slideshowNavWrap ul li.activeSlide a {
  -pie-background: linear-gradient(#d65606 20%, #f3761e 80%);
  background: -moz-linear-gradient(top, #d65606 20%, #f3761e 80%);
  background: -ms-linear-gradient(top, #d65606 20%, #f3761e 80%);
  background: -o-linear-gradient(top, #d65606 20%, #f3761e 80%);
  background: -webkit-linear-gradient(top, #d65606 20%, #f3761e 80%);
  background: linear-gradient(top, #d65606 20%, #f3761e 80%);
  border: 1px solid #f58d47;
  color: white;
  height: 43px;
}
.slideshowNavWrap ul li.activeSlide a:hover {
  height: 42px;
}
#prev2 {
  background: url("../images/typicalDay/tdPrev.png") top left no-repeat;
  display: block;
  height: 100px;
  left: -17px;
  margin-top: -50px;
  position: absolute;
  text-indent: -99999px;
  top: 50%;
  width: 50px;
  z-index: 30;
}
#next2 {
  background: url("../images/typicalDay/tdNext.png") top left no-repeat;
  display: block;
  height: 100px;
  margin-top: -50px;
  position: absolute;
  right: -15px;
  text-indent: -99999px;
  top: 50%;
  width: 50px;
  z-index: 30;
}
#next2:hover {
  background-position: 3px 0;
}
#prev2 {
  display: none;
}
#prev2:hover {
  background-position: -3px 0;
}
#next2 {
  display: none;
}
a#prev2:focus,
a#next2:focus {
  outline: none;
}
.tdInactiveButtons li {
  -khtml-opacity: 0.5;
  -moz-opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background-color: #66a53a;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.slideDescription {
  background-image: url("../images/typicalDay/paper_bg.jpg");
  border: 2px solid #f3751e !important;
  border-radius: 6px;
  bottom: -40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: #4a2611;
  display: none;
  font-size: 13px;
  font-style: italic;
  margin-right: -135px;
  min-height: 125px;
  padding: 10px 20px;
  position: absolute;
  right: 50%;
  text-align: center;
  vertical-align: center;
  width: 230px;
  z-index: 50;
}
.tdSlideshowNavCover {
  background-color: transparent;
  height: 75px;
  left: 1%;
  position: absolute;
  top: 10px;
  width: 98%;
  z-index: 26;
}
.tdCol1,
.tdCol2 {
  display: inline;
  float: left;
  padding: 2px 0 50px 2%;
  width: 48%;
}
.typicalDayContent {
  font-size: 16px;
}
.slideshowNavWrap ul li a .oneLine {
  padding-top: 10px;
}
.slideshowNavWrap ul li a span {
  display: block;
  padding-top: 1px;
}
/*****************************
 CAMPER GROWTH AND DEVELOPEMNT
 *****************************/
.camperGanDItemWrapper {
  padding-bottom: 20px;
  position: relative;
}
.camperGanDItemWrapper .tableCont {
  background-color: #27386b;
  border-radius: 6px;
  bottom: 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
  color: white;
  display: inline;
  float: left;
  margin-left: 5%;
  padding: 5px 2%;
  position: relative;
  text-align: center;
  width: 25%;
  z-index: 999;
}
.camperGanDItemWrapper .iwas {
  margin-left: 1%;
}
.camperGanDItemWrapper .tableCont .inner {
  display: table-cell;
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
  vertical-align: middle;
  width: 173px;
}
.camperGanDItemWrapper div span {
  display: block;
  font-size: 20px;
}
.camperGanDItemWrapper img {
  border: 2px solid #14204a;
  float: none;
  margin: 0;
  padding: 0;
}
.camperGanDItemWrapper .firstArrow {
  bottom: -30px;
  color: #c5a979;
  display: block;
  font-family: "BubblegumSansRegular", sans-serif;
  font-size: 48px;
  font-weight: bold;
  left: 31%;
  line-height: 1em;
  position: absolute;
  z-index: 1;
}
.camperGanDItemWrapper .secondArrow {
  bottom: -30px;
  color: #c5a979;
  display: block;
  font-family: "BubblegumSansRegular", sans-serif;
  font-size: 48px;
  font-weight: bold;
  left: 65%;
  line-height: 1em;
  position: absolute;
  z-index: 1;
}
.growthAndDevelopment {
  padding-top: 30px !important;
}
.growthAndDevelopment h1 {
  color: #793504;
  font-family: "MuseoSans500", sans-serif;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin: 0;
}
/************************/
/*never done that before*/
/************************/
.neverDoneThatBeforeWrap {
  margin-bottom: 0;
  margin-top: 0;
}
.neverDoneThatBeforeWrap p {
  background-image: url("../images/typicalDay/tdTopBg.png");
  border: 1px solid #999783;
  border-radius: 20px 0 20px 20px;
  height: 68px;
  left: 1px;
  margin: 0;
  padding: 20px;
  position: relative;
  top: -7px;
  width: 807px;
}
.ndbText {
  margin-top: 15px;
}
.neverDoneBefore {
  left: 0;
  margin-right: 0;
  width: 94%;
}
.neverDoneBefore .imagesHolderNDB {
  background-color: transparent;
  height: 580px;
}
.neverDoneBefore .imagesHolderNDB img {
  border: 0 !important;
  height: 461px;
  width: 100%;
}
.bubbleTop {
  background: url("../images/neverdonethatbefore/bubbleTop.png") no-repeat top
    left;
  bottom: 116px;
  height: 47px;
  left: 242px;
  position: absolute;
  width: 87px;
  z-index: 100;
}
/****************/
/*  FAQs        */
/****************/
.faqSet p {
  margin-top: 0;
}
/****************/
/*  BLOG        */
/****************/
.blogContent .contentLeft {
  clear: right;
  float: right;
  margin-left: 0;
  margin-right: 1%;
}
.blogContent .contentRight {
  float: left;
}
.blogContent #leftMenu {
  padding: 0;
  text-transform: none;
  /* font-size: 14px; */
}
.blogContent #leftMenu h4 {
  color: #14204a;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 0;
}
.blogContent #leftMenu p {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}
.blogContent #leftMenu ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
.blogContent #leftMenu ul li {
  padding: 4px 0;
}
.blogContent #leftMenu li a {
  letter-spacing: 0;
  line-height: 1.2em;
  padding: 0 0 6px;
}
.mainContentInnerBlog {
  padding: 50px 30px 0 60px;
  position: relative;
  z-index: 100;
}
.post {
  border-bottom: 3px solid #662e14;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.next-prev-posts {
  border-top: 3px solid #662e14;
  margin-bottom: 15px;
  overflow: hidden;
  padding-bottom: 15px;
}
.prev-post,
.next-post {
  width: 48%;
}
.prev-post {
  float: left;
}
.next-post {
  float: right;
  text-align: right;
}
.num-comments-icon {
  background: none repeat scroll 0 0 #662e14;
  background-color: #662e14;
  color: #fff;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  line-height: 22px;
  margin-right: 0.5em;
  position: relative;
  text-align: center;
  width: 30px;
  z-index: 1;
}
.num-comments-icon:hover {
  color: #fff;
}
.num-comments-icon::after {
  background: none repeat scroll 0 0 #d7ceb4;
  bottom: -10px;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 11px;
}
.num-comments-icon::before {
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background-color: #662e14;
  bottom: -6px;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transform: rotate(-45deg);
  width: 12px;
  z-index: -1;
}
.post-head .num-comments-icon {
  float: right;
  margin-left: 5px;
  margin-top: 1em;
  right: -5px;
  text-decoration: none;
}
#comments .num-comments-icon {
  float: left;
  margin-right: 15px;
  top: 5px;
}
#comments .CommentList {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
#comments .CommentList li {
  background-color: #ebe7da;
  margin-bottom: 3px;
  padding: 10px;
}
#comments .CommentList li .comment-head {
  color: #3b271c;
  font-weight: bold;
}
.post-headline a {
  text-decoration: none;
}
#CommentForm_form label {
  display: block;
}
#CommentForm_form input,
#CommentForm_form textarea {
  border: 1px solid #ae8f62;
  padding: 4px;
  width: 80%;
}
.post-body .align_right,
.mainContentInner .align_right {
  border: 2px solid green;
  clear: right;
  float: right;
  margin: 10px 0 10px 3%;
  max-width: 55%;
}
.post-body .align_left {
  border: 2px solid green;
  clear: left;
  float: left;
  margin: 10px 3% 10px 0;
  max-width: 50%;
}
/*forms page*/
.camper_form {
  overflow: hidden;
  padding: 20px;
}
.camper_form img {
  float: right;
  margin-right: 40px;
}
.camper_form a span {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  top: 30px;
}
.freshFromFB li h4 {
  margin-bottom: 5px;
}
figcaption {
  color: gray;
  margin-top: 10px;
}
.img_left {
  float: left;
  margin: 10px 25px 10px 0;
  text-align: center;
  width: 40%;
}
.img_right {
  float: right;
  margin: 10px 0 10px 25px;
  text-align: center;
  width: 40%;
}
.img_centered {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}
.img_stretched {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}
.country-name {
  display: none;
}
#search_query {
  padding: 10px;
}
#search_submit {
  padding: 6px;
  margin-top: 5px;
  font-size: 14px;
  line-height: 2em;
}
.longList li {
  width: 50%;
  float: left;
  line-height: 2em;
}
.longList:after {
  content: "";
  height: 1px;
  line-height: 1px;
  margin-bottom: 25px;
}
.searchWrapper {
  left: 12%;
  position: absolute;
  top: 9px;
  min-width: 150px;
  z-index: 999;
  text-align: center;
}
.searchWrapper a {
  color: #fef8e0;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
}
@media screen and (max-width: 959px) {
  /* typical day */
  #leftBanner,
  #rightBanner,
  #boots {
    display: none;
  }
  .centertopHeader {
    width: 35%;
  }
  .navBanner {
    background: -moz-linear-gradient(to bottom, #be0b00, #a20500);
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#be0b00),
      to(#a20500)
    );
    border-bottom: 8px solid #662e14;
    border-top: 8px solid #662e14;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BE0B00', endColorstr='#A20500');
    min-height: 0;
  }
  .mainMenu {
    border-bottom: 1px dashed #890800;
    border-top: 1px dashed #890800;
    margin: 5px auto;
    padding: 5px 0;
  }
  #footerMenu li {
    line-height: 25px;
  }
  .tdTopWrapper ul li a {
    font-size: 18px;
  }
  .slideshowNavWrap ul {
    float: left;
    width: 59%;
  }
  .tdSlideshowNavCover {
    height: 110px;
  }
  .slideshowNavWrap ul li {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 31%;
  }
  .slideshowNavWrap ul li#thirdButton {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 31%;
  }
  .slideshowNavWrap ul li a {
    display: block;
    width: 100%;
    font-size: 18px;
  }
  .slideDescription {
    bottom: 0;
    margin-right: 0;
    min-height: 125px;
    padding: 10px 2.5%;
    position: absolute;
    right: 0%;
    width: 35%;
  }
  .slideshowNavWrap {
    bottom: -25px;
  }
}
@media only screen and (max-width: 940px) {
  #boots {
    left: 18%;
  }
  .lefttopHeader {
    left: 4%;
    width: 18%;
  }
  #buttonWrapper {
    height: 20px;
  }
}
@media screen and (max-width: 880px) {
  /*Inner Page*/
  .centertopHeader {
    width: 38%;
  }
  .mainMenu {
    font-size: 20px;
    padding: 7px 0;
  }
  #buttonWrapper {
    padding: 10px 0 0;
  }
  #leftMenu,
  .videoBoxInner span {
    font-size: 18px;
  }
  .secondMenu {
    font-size: 16px;
  }
}
@media only screen and (max-width: 840px) {
  h3 {
    font-size: 20px;
  }
  #boots {
    left: 18%;
  }
  .righttopHeader {
    font-size: 16px;
    top: 10px;
  }
  .footerRight .accredited {
    margin: 0;
    padding-top: 4px;
  }
}
@media only screen and (max-width: 780px) {
  .home-content-block img {
    width: 50%;
  }
  .righttopHeader {
    font-size: 14px;
  }
  .rightHeader {
    right: 0;
    width: 38%;
  }
  .centertopHeader {
    width: 40%;
  }
  #boots {
    left: 15%;
    top: 20%;
  }
  .mainMenu {
    font-size: 18px;
    padding: 5px 0;
  }
  #buttonWrapper {
    height: 20px;
    padding: 5px 0 0;
  }
  .footerRight form {
    max-width: none;
    min-width: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 760px) {
  .tdTopWrapper ul li a {
    font-size: 15px;
  }
}
@media only screen and (min-width: 700px) {
  .menuBgLeft,
  .menuBgRight,
  #leftMenu {
    display: block !important;
  }
}
@media only screen and (max-width: 700px) {
  /*Inner Page*/
  h3 {
    font-size: 24px;
  }
  .lefttopHeader {
    width: 23%;
  }
  .righttopHeader {
    font-size: 15px;
    width: 45%;
  }
  .rightHeader {
    top: 55px;
  }
  .rightHeader p {
    margin: 0;
  }
  .mainMenu {
    padding: 2px 0;
  }
  .footerRight img {
    width: 26%;
  }
  .contentLeft,
  .contentRight {
    float: none;
    margin: 0;
    width: 100%;
  }
  #oars {
    display: none;
  }
  #leftMenu {
    display: none;
    padding-top: 20px;
  }
  #menuDropdown {
    color: #d7cdb3;
    cursor: pointer;
    display: block;
    font-size: 20px;
    margin-left: 4%;
    text-align: left;
  }
  #menuDropdown span {
    background: url("../images/dropdownArrow.png") no-repeat left -5px;
    font-family: "Fira Sans", sans-serif;
    padding-left: 20px;
  }
  #menuDropdown.activeDropdown span {
    background: url("../images/dropdownArrow.png") no-repeat left bottom;
  }
  .menuBgLeft {
    margin-left: 0;
  }
  .imageBoxleftInner,
  .imageBoxcenterInner,
  .imageBoxrightInner {
    display: inline-block;
  }
  .videoBoxInner {
    margin: 0 auto;
    width: 300px;
  }
  .mainContentInner h1 {
    position: relative;
  }
  .tdTopWrapper ul.ageSelector li {
    padding-right: 5px;
  }
  .tdTopWrapper ul.ageSelector li a {
    padding: 4px 7px;
  }
  .tdTopWrapper ul.ageSelector li a:hover,
  .tdTopWrapper ul.ageSelector li a#b.tdButtonSelected,
  .tdTopWrapper ul.ageSelector li a#g.tdButtonSelected,
  .tdTopWrapper ul.ageSelector li a.tdButtonSelected {
    padding: 7px 10px;
  }
  .footerLeft {
    width: 50%;
  }
  .footerRight {
    width: 40%;
  }
}
@media only screen and (max-width: 640px) {
  #boots {
    top: 25%;
  }
}
@media only screen and (max-width: 599px) {
  .header {
    min-height: 260px;
  }
  .centertopHeader {
    float: left;
    left: 0;
    position: relative;
    top: 15px;
    width: 55%;
  }
  #boots {
    left: 32%;
    top: 8%;
    width: 25%;
  }
  .lefttopHeader {
    float: right;
    left: 0;
    margin-right: 6%;
    position: relative;
    top: 0;
    width: 31%;
  }
  .rightHeader {
    clear: right;
    float: right;
    left: 0;
    max-width: 44%;
    position: relative;
    top: 20px;
    width: 44%;
  }
  .righttopHeader {
    clear: both;
    margin: 0 5%;
    position: static;
    text-align: center;
    top: 0;
    float: right;
  }
  .rightHeaderContent {
    margin: 0 auto;
    max-width: 145px;
  }
  .rightHeader p {
    /* position: absolute;
     right: -111%;
     top: 0%; */
    font-size: 15px;
    padding-top: 5px;
  }
  .navBanner {
    margin-top: 0;
  }
}
@media only screen and (max-width: 580px) {
  .facebook-posts-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .facebook-post-wrapper {
    margin-right: 0;
  }
  .facebook-post-wrapper .facebook-post-image {
    width: 100%;
  }
  .tdTopWrapper ul.genderSelector {
    clear: both;
    display: block !important;
    float: none !important;
    overflow: hidden;
    width: 98%;
  }
  .tdTopWrapper ul.genderSelector li {
    margin-bottom: 15px;
    padding: 0 2%;
    width: 45%;
  }
  .tdTopWrapper ul.genderSelector li a {
    display: block;
    float: none;
    font-size: 20px;
  }
  .tdTopWrapper ul.ageSelector {
    clear: both;
    display: block !important;
    float: none !important;
    overflow: hidden;
    width: 98%;
  }
  .tdTopWrapper ul.ageSelector li {
    padding: 0 2%;
    width: 20.5%;
  }
  .tdTopWrapper ul.ageSelector li a {
    display: block;
    float: none;
    font-size: 18px;
  }
  .tdTopWrapper ul.ageSelector li a span {
    display: block;
  }
  .slideshowNavWrap {
    background-image: url("../images/typicalDay/paper_bg.jpg");
    border-radius: 6px;
    bottom: 4px;
    box-shadow: 0 0 10px rgba(40, 0, 0, 0.2);
    left: 3%;
    margin-top: -60px;
    padding: 10px 1%;
    position: relative;
    width: 92%;
    z-index: 25;
  }
  .slideshowNavWrap ul {
    float: none;
    width: 98%;
  }
  .slideshowNavWrap ul li {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 15%;
  }
  .slideshowNavWrap ul li#thirdButton {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 15%;
  }
  .slideshowNavWrap ul li a {
    font-size: 14px;
    line-height: 1.1em;
  }
  .slideshowNavWrap ul li a span {
    position: relative;
    top: 4px;
  }
  .slideDescription {
    bottom: 0;
    margin-right: 0;
    min-height: 100px;
    padding: 10px 2.5%;
    position: relative;
    right: 0;
    width: 94%;
  }
  .footerLeft {
    float: none;
    width: 100%;
  }
  .footerRight {
    float: left;
    margin-left: 3%;
    text-align: left;
    width: 94%;
  }
  .footerRight form {
    float: left;
    text-align: right;
    width: 50%;
  }
  .footerRight .socialMedia {
    float: right;
    text-align: right;
    width: 40%;
  }
  .footerRight img {
    float: none;
  }
  #accredited {
    float: none;
  }
}
@media only screen and (max-width: 520px) {
  h3 {
    font-size: 20px;
  }
  .lefttopHeader {
    display: none;
  }
  .righttopHeader {
    float: none;
    margin: 10px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .rightHeader {
    clear: both;
    float: none;
    left: 0;
    max-width: 100%;
    position: relative;
    top: 0;
    width: 100%;
  }
  .centertopHeader {
    display: block;
    float: none;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 490px) {
  .footerRight form {
    float: none;
    text-align: right;
    width: 80%;
  }
  .footerRight .socialMedia {
    float: none;
    margin: 0 auto;
    text-align: right;
    width: 240px;
  }
  .img_left {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }
  .img_right {
    float: none;
    margin: 0 auto;
    text-align: center;
    width: auto;
  }
}
@media only screen and (max-width: 430px) {
  .home-content-block {
    margin-bottom: 10px;
  }
  .home-content-block img {
    float: none;
    margin: 0 auto;
    width: 95%;
  }
  .home-content-block img.left,
  .home-content-block img.right {
    float: none;
    margin: 0 auto;
  }
  .mainContentWrapper {
    margin: 0 6%;
    width: 88%;
  }
  .slideshowNavWrap ul li {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 32%;
  }
  .slideshowNavWrap ul li#thirdButton {
    margin-bottom: 4px;
    margin-right: 1%;
    width: 32%;
  }
  .slideshowNavWrap ul li a {
    font-size: 18px;
  }
  .slideshowNavWrap ul li a span {
    top: 0;
  }
  .lefttopHeader a {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 380px) {
  .tdTopWrapper ul.genderSelector {
    clear: both;
    display: block !important;
    float: none !important;
    overflow: hidden;
    width: 98%;
  }
  .tdTopWrapper ul.genderSelector li {
    margin-bottom: 15px;
    padding: 0 2%;
    width: 45%;
  }
  .tdTopWrapper ul.genderSelector li a {
    display: block;
    float: none;
    font-size: 20px;
  }
  .tdTopWrapper ul.ageSelector {
    clear: both;
    display: block !important;
    float: none !important;
    overflow: hidden;
    width: 98%;
  }
  .tdTopWrapper ul.ageSelector li {
    margin-bottom: 10px;
    padding: 0 2%;
    width: 45%;
  }
  .tdTopWrapper ul.ageSelector li a {
    display: block;
    float: none;
    font-size: 18px;
  }
  .tdTopWrapper ul.ageSelector li a span {
    display: inline;
  }
}
@media only screen and (max-width: 370px) {
  h1,
  h2 {
    font-size: 24px;
  }
  #oars {
    display: none;
  }
  .mainMenu {
    font-size: 16px;
    padding: 4px 0;
  }
  .mainContentWrapper {
    padding: 0;
  }
  .slideshowNavWrap ul li a {
    font-size: 16px;
  }
  .lefttopHeader a {
    padding: 20px 0;
  }
}
.page-enter-active,
.page-leave-active {
  transition: 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
  /* transform: scaleX(0); */
  transform-origin: 0 0;
}
